.glassPanel {
  position: relative;
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(var(--blur-value, 10px)) saturate(180%);
  background: rgba(255, 255, 255, var(--bg-alpha, 0.25));
  box-shadow: var(--shadow-pos-x, 0px) var(--shadow-pos-y, 8px)
    var(--frost-shadow-spread, 20px) rgba(0, 0, 0, var(--shadow-opacity, 0.2));
  overflow: hidden;
}

.lightHighlight {
  position: absolute;
  top: -50%;
  left: -50%;
  pointer-events: none;
  background: linear-gradient(
    var(--light-angle, 45deg),
    rgba(255, 255, 255, 0.25),
    transparent
  );
}

.glassPanel::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    circle at calc(50% + cos(var(--light-angle)) * 30%)
      calc(50% + sin(var(--light-angle)) * 30%),
    rgba(82, 81, 81, 0.5) 30%,
    rgba(0, 0, 0, 0.05) 70%,
    transparent 100%
  );

  filter: blur(var(--inset-shadow-blur, 10px));
  opacity: 1;
}

.glassPanel::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  box-shadow: inset calc(var(--shadow-pos-x, 0px) * -1)
    calc(var(--shadow-pos-y, 0px) * -1) var(--frost-shadow-spread, 100px)
    rgba(255, 255, 255, 0.4);
}
